.messageBlock {
  display: flex;
  align-items: center;
}
.textMessage {
  border-radius: 5px;
  width: 400px;
  height: 30px;
}
.sendMessage {
  margin-left: 10px;
  border-radius: 5px;
  height: 30px;
}
