.app-wrapper {
  display: grid;
  width: 100vw;
  grid-template-areas:
    'header header'
    'nav main-content';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  overflow-x: hidden;
}
.app-wrapper-content {
  grid-area: main-content;
  background-color: #3381e8;
}
